<div class="menucontainer">
  <nav class="navbar navbar-expand-lg " appCouleurfond>
    <div class="container-fluid">
      <div class="logo">
       <img src="assets/image/image.png" alt="">
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100 d-flex justify-content-center text-white">
          <li class="nav-item fw-bold">
            <a class="nav-link active text-white" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  fw-bold text-white" href="#">Listes Contacts</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  fw-bold text-white " href="#">Corbeille</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  fw-bold text-white " aria-disabled="true">profil</a>
          </li>
        </ul>
        <a href="" class="text-decoration-none">
          <div class="tofprofil d-flex  w-100  align-items-center ">
            <span class="  text-white fw-semibold small px-2 ">Libass Ndoye</span>
            <img src="https://img.freepik.com/photos-gratuite/hotesse-air-coup-moyen-posant_23-2150312701.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais" class="rounded-circle" alt="">

          </div>
        </a>



      </div>
    </div>
  </nav>
  <div class="navbootom d-flex justify-content-between mt-4">
    <div class="createbutton mx-3">
      <button class="btn bg-black text-white fw-bold " id="buttonavbar" type="button" data-bs-toggle="modal" data-bs-target="#ajout-contact" routerLink="ajout" >Ajouter Contact</button>
    </div>
    <div class="searchbar col-5 mx-3">
      <form class="d-flex" role="search">
        <input class="form-control  " type="search" placeholder="Search" value="{{recherche}}">
        <button class="btn " type="submit" id="boutonsearch" appCouleurfond><i class="bi bi-search text-white"></i></button>
      </form>
    </div>

  </div>

</div>




