
.logo img
{
  height: 50px;
  width: 100%;
}
.logo{
  /* margin-left: 20px; */
}
.tofprofil{
  margin-right: 20px;
}
.tofprofil img
{
  height: 40px;
  width: 40px;
  /* border-radius: 50%; */
}

#navbarNav li{
  margin-right: 20px;
  font-size: 18px;

}.form-label{
  color: #CE66CD;
  font-weight: bold;
}


