
<app-menu></app-menu>
<app-statistique></app-statistique>
<div class="homecontainer">
  <div class="tabcontainer  mt-5">
    <div class="card shadow mb-4">
      <div class="card-header py-3 ">
          <h5 class="m-0 font-weight-bold  fw-bold text-center">Liste des Contacts</h5>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead >
                      <tr>
                          <th appCouleurfond class="text-white fw-bold" >photo</th>
                          <th appCouleurfond class="text-white fw-bold" >nom</th>
                          <th appCouleurfond class="text-white fw-bold" >prenom</th>
                          <th appCouleurfond class="text-white fw-bold" >email</th>
                          <th appCouleurfond class="text-white fw-bold" >Telephone</th>
                          <th appCouleurfond class="text-white fw-bold" >Action</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <!-- <tr>
                        <th>photo</th>
                        <th>nom</th>
                        <th>prenom</th>
                        <th>email</th>
                        <th>Telephone</th>
                        <th>Action</th>
                      </tr> -->
                  </tfoot>
                  <tbody>
                      <tr >
                          <td class="d-flex justify-content-center">
                            <div class="tofcontact">
                              <img src="https://img.freepik.com/photos-gratuite/hotesse-air-coup-moyen-posant_23-2150312701.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais" class="rounded-circle" alt="">
                            </div>
                          </td>
                          <td >{{afficheContact.prenomContact }}</td>
                          <td>{{afficheContact.nomContact}}</td>
                          <td>{{afficheContact.emailContact}}</td>
                          <td>{{afficheContact.telephone}}</td>
                          <td class="d-flex justify-content-center">
                            <button class="btn" appCouleurfond>
                              <i class="bi bi-person-fill-dash" style="color:white"></i>
                            </button>
                          </td>
                      </tr>
                      <!-- <tr>
                          <td class="d-flex justify-content-center">
                            <div class="tofcontact">
                              <img src="https://img.freepik.com/photos-gratuite/hotesse-air-coup-moyen-posant_23-2150312701.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais" class="rounded-circle" alt="">
                            </div>
                          </td>
                          <td >Thierno</td>
                          <td>Ba</td>
                          <td>bathierno0233@gmail.com</td>
                          <td>(+221)778315292</td>
                          <td class="d-flex justify-content-center">
                            <button class="btn" appCouleurfond>
                              <i class="bi bi-person-fill-dash" style="color:white"></i>
                            </button>
                          </td>
                      </tr>
                      <tr>
                          <td class="d-flex justify-content-center">
                            <div class="tofcontact">
                              <img src="https://img.freepik.com/photos-gratuite/hotesse-air-coup-moyen-posant_23-2150312701.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais" class="rounded-circle" alt="">
                            </div>
                          </td>
                          <td >Thierno</td>
                          <td>Ba</td>
                          <td>bathierno0233@gmail.com</td>
                          <td>(+221)778315292</td>
                          <td class="d-flex justify-content-center">
                            <button class="btn" appCouleurfond>
                              <i class="bi bi-person-fill-dash" style="color:white"></i>
                            </button>
                          </td>
                      </tr>
                      <tr>
                          <td class="d-flex justify-content-center">
                            <div class="tofcontact">
                              <img src="https://img.freepik.com/photos-gratuite/hotesse-air-coup-moyen-posant_23-2150312701.jpg?size=626&ext=jpg&ga=GA1.1.2145246215.1689776414&semt=ais" class="rounded-circle" alt="">
                            </div>
                          </td>
                          <td >Thierno</td>
                          <td>Ba</td>
                          <td>bathierno0233@gmail.com</td>
                          <td>(+221)778315292</td>
                          <td class="d-flex justify-content-center">
                            <button class="btn" appCouleurfond>
                              <i class="bi bi-person-fill-dash" style="color:white"></i>
                            </button>
                          </td>
                      </tr> -->

                  </tbody>
              </table>
          </div>
      </div>
  </div>
  </div>


